.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
}

.container--1178 {
    max-width: 1178px;
    padding: 0 var(--container-padding);
    margin: 0 auto;
}

.container--1166 {
    max-width: 1166px;
    padding: 0 var(--container-padding);
    margin: 0 auto;
}

.container--1010 {
    max-width: 1010px;
    padding: 0 var(--container-padding);
    margin: 0 auto;
}