:root {
    --container-width: 1310px;
    --container-padding: 15px;

    --font-main: 'Roboto', sans-serif;
    --font-size-main: clamp(1rem, 0.881rem + 0.6vw, 1.25rem);
    --font-weight-main: 400;

    --page-bg: #fff;
    --text-color: #403F4C;
    --accent-color: #045CFC;
    

    --laptop-size: 1200px;
    --tabletXL-size: 992px;
    --tablet-size: 768px;
    --mobile-size: 576px;
}