.button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 438px;
    height: 78px;

    border: 1px solid white;
    color: white;
    
    border-radius: 39px;
    text-transform: uppercase;
    transition: background-color .3s ease;
    &:hover {
        background-color: rgba(255, 255, 255, .2);
    }
    &--accent {
        border: 1px solid var(--accent-color);
        color: var(--accent-color);
        transition: background-color .3s linear;
        &:hover {
            background-color: rgba(4, 92, 251, .3);
        }
    }
    &--w366 {
        max-width: 366px;
    }
    &--w329 {
        max-width: 329px;
    }
    &--w303 {
        max-width: 303px;
    }
}